openapi: 3.1.0
info:
  title: Wealthbox CRM Activity Contacts API
  description: 'REST API for Wealthbox, a CRM built for financial advisors. Provides CRUD

    endpoints for contacts, tasks, events, opportunities, notes, workflows,

    users, and teams. Authenticate either with a personal Access Token sent in

    the `ACCESS_TOKEN` header, or with an OAuth 2.0 bearer token sent in the

    standard `Authorization: Bearer ...` header.

    '
  version: 1.0.0
  contact:
    name: Wealthbox Developers
    url: https://dev.wealthbox.com
  license:
    name: Proprietary
servers:
- url: https://api.crmworkspace.com/v1
  description: Wealthbox CRM production API
security:
- accessToken: []
- oauth2: []
tags:
- name: Contacts
paths:
  /contacts:
    get:
      tags:
      - Contacts
      summary: List all contacts
      operationId: listContacts
      responses:
        '200':
          description: A list of contacts.
    post:
      tags:
      - Contacts
      summary: Create a new contact
      operationId: createContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '201':
          description: Contact created.
  /contacts/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Contacts
      summary: Retrieve a contact
      operationId: getContact
      responses:
        '200':
          description: A contact record.
    put:
      tags:
      - Contacts
      summary: Update a contact
      operationId: updateContact
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contact'
      responses:
        '200':
          description: Updated contact.
    delete:
      tags:
      - Contacts
      summary: Delete a contact
      operationId: deleteContact
      responses:
        '204':
          description: Contact deleted.
components:
  parameters:
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
      description: Wealthbox resource identifier.
  schemas:
    Contact:
      type: object
      properties:
        id:
          type: integer
          format: int64
        first_name:
          type: string
        last_name:
          type: string
        email_addresses:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
                format: email
              kind:
                type: string
        phone_numbers:
          type: array
          items:
            type: object
            properties:
              address:
                type: string
              kind:
                type: string
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: ACCESS_TOKEN
      description: Personal Access Token issued from the Wealthbox account settings.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow for third-party integrations.
      flows:
        authorizationCode:
          authorizationUrl: https://app.crmworkspace.com/oauth/authorize
          tokenUrl: https://app.crmworkspace.com/oauth/token
          scopes:
            login: Access basic profile information
            data: Read and write CRM data
externalDocs:
  description: Wealthbox API Reference
  url: https://dev.wealthbox.com
