openapi: 3.1.0
info:
  title: Wealthbox CRM Activity Tasks API
  description: 'REST API for Wealthbox, a CRM built for financial advisors. Provides CRUD

    endpoints for contacts, tasks, events, opportunities, notes, workflows,

    users, and teams. Authenticate either with a personal Access Token sent in

    the `ACCESS_TOKEN` header, or with an OAuth 2.0 bearer token sent in the

    standard `Authorization: Bearer ...` header.

    '
  version: 1.0.0
  contact:
    name: Wealthbox Developers
    url: https://dev.wealthbox.com
  license:
    name: Proprietary
servers:
- url: https://api.crmworkspace.com/v1
  description: Wealthbox CRM production API
security:
- accessToken: []
- oauth2: []
tags:
- name: Tasks
paths:
  /tasks:
    get:
      tags:
      - Tasks
      summary: List all tasks
      operationId: listTasks
      responses:
        '200':
          description: A list of tasks.
    post:
      tags:
      - Tasks
      summary: Create a new task
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '201':
          description: Task created.
  /tasks/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      tags:
      - Tasks
      summary: Retrieve a task
      operationId: getTask
      responses:
        '200':
          description: A task record.
    put:
      tags:
      - Tasks
      summary: Update a task
      operationId: updateTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Task'
      responses:
        '200':
          description: Updated task.
    delete:
      tags:
      - Tasks
      summary: Delete a task
      operationId: deleteTask
      responses:
        '204':
          description: Task deleted.
components:
  parameters:
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: integer
        format: int64
      description: Wealthbox resource identifier.
  schemas:
    Task:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        due_date:
          type: string
        complete:
          type: boolean
        linked_to:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              type:
                type: string
  securitySchemes:
    accessToken:
      type: apiKey
      in: header
      name: ACCESS_TOKEN
      description: Personal Access Token issued from the Wealthbox account settings.
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow for third-party integrations.
      flows:
        authorizationCode:
          authorizationUrl: https://app.crmworkspace.com/oauth/authorize
          tokenUrl: https://app.crmworkspace.com/oauth/token
          scopes:
            login: Access basic profile information
            data: Read and write CRM data
externalDocs:
  description: Wealthbox API Reference
  url: https://dev.wealthbox.com
